build/
cmake-build-*/
out/
qa-tests/

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib


*.exe
*.out


.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json


conan/
conanbuildinfo.*
conaninfo.txt
graph_info.json


Testing/
CTestTestfile.cmake


*.gcov
*.gcda
*.gcno
coverage/


*.log